[Unit]
Description=netmgmt
After=netmgmt.target

[Service]
EnvironmentFile=-/etc/sysconfig/netmgmt
WorkingDirectory=/opt/netmgmt
ExecStart=/opt/netmgmt/netmgmt
Restart=on-failure
StandardError=null
StandardOutput=null

[Install]
WantedBy=multi-user.target
